@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@keyframes h1 {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes logo {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::after, *::before {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

html, body {
  height: 100vh;
  width: 100%; }

body {
  background-color: #f7f7f7;
  color: #7a7a7a;
  position: relative; }

.wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1600px; }
  @media only screen and (min-width: 768px) {
    .wrapper {
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    .wrapper {
      width: 90%; } }
  @media only screen and (min-width: 1366px) {
    .wrapper {
      width: 90%; } }

main {
  height: 100%;
  width: 100%;
  position: relative; }

img {
  vertical-align: baseline; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%; }

h1, h2, h3, h4, h5, h6 {
  color: #131313;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 150%; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .67em; }

.about--text {
  color: #7a7a7a;
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: 400; }
  .about--text:not(:last-child) {
    margin-bottom: 5rem; }

.cta {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-decoration: none;
  color: #131313;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all .3s ease-out; }
  .cta:hover {
    color: #fff; }

.btn {
  background-color: #131313;
  color: #fff;
  border: none;
  outline: none;
  padding: 1.2rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px; }

.footer {
  background-color: #131313;
  color: #fff;
  padding: 2.5rem 0rem; }

.form {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden; }

input[type="text"],
input[type="email"] {
  border: none;
  outline: none;
  padding: 1.6rem .8rem;
  margin-bottom: 3.5rem;
  width: 100%;
  border: 1px solid #7a7a7a;
  transition: all .5s ease-out; }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border: 1px solid #131313; }

textarea {
  border: none;
  outline: none;
  padding: 1.6rem .8rem;
  margin-bottom: 3.5rem;
  width: 100%;
  border: 1px solid #7a7a7a;
  transition: all .5s ease-out;
  height: 10rem;
  font-family: 'Open-Sans', sans-serif; }
  textarea:focus {
    border: 1px solid #131313; }

::placeholder {
  color: #7a7a7a;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  font-family: 'Open-Sans', sans-serif; }

.grid {
  display: grid;
  width: 100%;
  gap: 5rem;
  margin-top: 7.5rem; }

.work .grid {
  grid-template-columns: repeat(1, 1fr); }
  @media only screen and (min-width: 768px) {
    .work .grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 1366px) {
    .work .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem; } }
  .work .grid__item {
    overflow: hidden;
    position: relative; }
    .work .grid__item img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      filter: grayscale(100%);
      transition: all .3s ease-out; }
    .work .grid__item:hover img {
      filter: grayscale(0%); }
    .work .grid__item:hover .cta {
      bottom: 10%;
      color: #fff; }

.header {
  width: 100%;
  padding: 1.6rem 0rem; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding: 2.5rem 0rem; } }
  @media only screen and (min-width: 1366px) {
    .header {
      padding: 2.5rem 0rem; } }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo img {
    height: 3.5rem;
    width: 3.5rem;
    animation: logo 1s; }
  .header__menu {
    height: 2.3rem;
    width: 3.5rem; }
    @media only screen and (min-width: 768px) {
      .header__menu {
        display: none; } }
    .header__menu--line {
      height: .2rem;
      width: 100%;
      background-color: #131313; }
      .header__menu--line:not(:last-child) {
        margin-bottom: 1rem; }

.nav {
  display: none; }
  @media only screen and (min-width: 768px) {
    .nav {
      display: flex; } }
  .nav ul {
    display: flex; }
  .nav li {
    position: relative;
    overflow: hidden; }
    .nav li:not(:last-child) {
      margin-right: 2.5rem; }
  .nav a {
    display: block;
    color: #7a7a7a;
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
    /* &:hover {
            color: $color-secondary;
        }*/ }

ul {
  list-style: none; }

#home-link,
#about-link,
#work-link,
#skills-link,
#contact-link {
  white-space: nowrap;
  position: relative;
  color: #7a7a7a; }

#home-link::after,
#about-link::after,
#work-link::after,
#skills-link::after,
#contact-link::after {
  position: absolute;
  left: 0%;
  width: 0%;
  overflow: hidden;
  transition: all .3s ease;
  color: #131313; }

#home-link:hover::after,
#about-link:hover::after,
#work-link:hover::after,
#skills-link:hover::after,
#contact-link:hover::after {
  width: 100%; }

#home-link::after {
  content: 'Home'; }

#about-link::after {
  content: 'About'; }

#work-link::after {
  content: 'Work'; }

#skills-link::after {
  content: 'Skills'; }

#contact-link::after {
  content: 'Contact'; }

.about {
  width: 100%;
  padding: 10rem 0rem; }
  .about .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start; }

.contact {
  padding: 10rem 0rem; }
  .contact .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 7.5rem; }
    @media only screen and (min-width: 768px) {
      .contact .grid {
        grid-template-columns: repeat(2, 1fr); } }

.hero {
  height: 100vh;
  width: 100%; }
  .hero .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .hero h1 {
    font-size: 5.6rem;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
    animation: h1 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform: translateY(25%);
    opacity: 0; }
    .hero h1:nth-child(2) {
      animation-delay: 1s;
      margin-bottom: 2.5rem; }

.skills {
  padding: 10rem 0rem; }
  .skills .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .skills__container {
    margin-top: 7.5rem;
    border-top: 1px solid #131313;
    width: 100%;
    display: grid;
    padding-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem; }
    @media only screen and (min-width: 768px) {
      .skills__container {
        grid-template-columns: repeat(4, 1fr); } }
    .skills__container ul:not(:last-child) {
      margin-bottom: 0rem; }
    .skills__container li {
      font-size: 1.4rem;
      text-transform: capitalize;
      font-weight: 600; }
      .skills__container li:not(:last-child) {
        margin-bottom: 1.2rem; }

.work {
  padding: 10rem 0rem; }
  .work .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start; }
