.grid {
    display: grid;
    width: 100%;
    gap: 5rem;
    margin-top: 7.5rem;
}

.work {
    & .grid {
        grid-template-columns: repeat(1, 1fr);

        @media only screen and (min-width: $media-small) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $media-large) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
        }
        &__item {
            overflow: hidden;
            position: relative;

            & img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}