.nav {
    display: none;
    @media only screen and (min-width: $media-small) {
        display: flex;
    }

    & ul {
        display: flex;
    }

    & li {
        position: relative;
        overflow: hidden;
        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    & a {
        display: block;
        color: $color-terheary;
        font-size: 1.9rem;
        font-weight: 400;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .3s ease-out;

        &:hover {
            color: $color-secondary;
        }
    }
}

ul {
    list-style: none;
}



