* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before {
        position: absolute;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

html, body {
    height: auto;
    width: 100%;
}

body {
    background-color: $color-primary;
    color: $color-terheary;
}

.wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;

    @media only screen and (min-width: $media-small) {
        width: 700px;
        background-color: chocolate;
    }

    @media only screen and (min-width: $media-medium) {
        width: 960px;
        background-color: lawngreen;
    }

    @media only screen and (min-width: $media-large) {
        width: 95%;
        background-color: royalblue;
    }
}

main {
    height: auto;
    width: 100%;
}

img {
    vertical-align: baseline;
}