* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before {
        position: absolute;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color-primary;
    color: $color-terheary;
    position: relative;
}

.wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;

    @media only screen and (min-width: $media-small) {
        width: 90%;
    }

    @media only screen and (min-width: $media-medium) {
        width: 90%;
    }

    @media only screen and (min-width: $media-large) {
        width: 90%;
    }
}

main {
    height: auto;
    width: 100%;
    position: relative;
}

img {
    vertical-align: baseline;
}