@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-secondary;
}

.about {
    &--text {
        color: $color-terheary;
        font-size: 1.8rem;
        line-height: 140%;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    } 
}